.DS_Store
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
creds/
bastion_aws_*
*.pub

dx-hosted*
tgw*

vgw*
vpc-assoc*
vpc-igw*
vpc-routes*
vpc-rtable*
vpc.tf
vpc-subnet.tf
vpc-sg.tf

*.tfstate*

tfplan

sss*

ec2*